.employee {
    position: relative;
}

.order-details {
    width: 100%;
}

.od-heading {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.od-heading__link {
    color: var(--main-color);
    text-decoration: none;
}

.od-heading__link:hover {
    opacity: 0.8;
}

.od-heading__icon {
    font-size: 4rem;
    padding: 15px;
}

.od-heading__title {
    font-size: 4rem;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
    flex: 1;
    margin-left: -40px;
}

.or-body-none {
    font-size: 3rem;
    line-height: 3.4rem;
    color: var(--main-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.or-body {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.or-body__title {
   align-items: start;
}

.or-body__id,
.or-body__num {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--main-text);
}

.or-body__num {
    display: inline-block;
}

.or-body__table {
    margin-top: 10px;
}

.or-customer {
    border-collapse: collapse;
    border: 1px solid var(--boder-color);
}

.or-customer__heading {
    font-size: 2rem;
    padding: 10px;
    border: 1px solid var(--boder-color);
    
}

.or-customer__item {
    font-size: 1.8rem;
    padding: 10px;
    border: 1px solid var(--boder-color);
}

.or-customer__item-name {
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.or-customer__item-count {
    text-align: center;
}

.or-customer__item-price,
.or-customer__item-left {
    width: 150px;
    text-align: end;
}

.or-customer__item-price {
    color: var(--price-color);
    
}

.or-body__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.or-body-accept {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    color: var(--main-text);
    display: none;
}

.or-body__btn-cancel {
    background-color: var(--boder-color);
}

.btn-l {
    min-width: 200px;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-noti-size {
    max-width: 700px;
    position: relative;
}

.modal-noti__head {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.modal-noti__head-img {
    max-width: 170px;
    display: block;
    padding: 10px 0;
}

.modal-noti__body {
    background-color: var(--white-text);
}

.modal-noti__body-title {
    font-size: 2rem;
    display: block;
    padding: 20px 10px;
}

.modal-noti__body-btn {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.btnAcceptModal-accept,
.btnAcceptModal-cancel,
.btnCancelModal-accept,
.btnCancelModal-cancel {
    margin-top: 0px;
    min-width: 160px;
    min-height: 40px;
    font-size: 1.8rem;
}