<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{public/css/grid.css}">
    <link rel="stylesheet" th:href="@{public/css/base.css}">
    <link rel="stylesheet" th:href="@{public/css/employee.css}">
    <title>Document</title>
</head>
<body>
    <div class="employee">
        <header class="employee-header" th:insert="headerEmployee">

        </header>
        <div class="grid">
            <div class="row sm-gutter space">
                <div class="col l-2">
                    <div class="navbar" th:insert="navbarEmployee">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>