<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/grid.css">
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/base.css">
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/adminAddCustomer.css">
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/adminProduct.css">
</head>

<body>
    <div class="employee">
        <header class="employee-header">
            
        </header>
        <div class="customer">
            <div class="customer-heading">
                <a href="/QLHTT/src/main/resources/templates/adminEmployee.html" class="customer-heading__link">
                    <i class="customer-heading__icon fa-solid fa-arrow-left"></i>
                </a>
                <h1 class="customer-heading__title">
                    THÔNG TIN SẢN PHẨM
                </h1>
            </div>
            <div class="customerDetail">
                <div class="modal__body add-customerDetail__body">
                    <form action="">
                        <div action="" class="basic-form">
                            <label for="" class="form__label">Tên sản phẩm:</label>
                            <input type="text" class="form__input" value="">
                        </div>
    
                        <div class="category__classify add-product__selection">
                            <label for="" class="form__label">Loại sản phẩm:</label>
                            <select name="type" id="" class="category__classify-select ">
                                <option value="" class="form-product__option">Option 1</option>
                                <option value="" class="form-product__option">Option 2</option>
                                <option value="" class="form-product__option">Option 1</option>
                                <option value="" class="form-product__option">Option 2</option>
                            </select>
                        </div>
        
<!--                        <div class="category__classify add-product__selection">-->
<!--                            <label for="" class="form__label">Khuyến mãi:</label>-->
<!--                            <select name="type" id="" class="category__classify-select">-->
<!--                                <option value="" class="form-product__option">Option 1</option>-->
<!--                                <option value="" class="form-product__option">Option 2</option>-->
<!--                                <option value="" class="form-product__option">Option 1</option>-->
<!--                                <option value="" class="form-product__option">Option 2</option>-->
<!--                            </select>-->
<!--                        </div>-->
    
                        <div class="product-detail">
                            <div action="" class="basic-form product-detail__img">
                                <label for="myfile" class="form__label product-detail__title">Hình ảnh:</label>
                                <input type="file" id="myfile" accept="*" onchange="readFile(this)">
                                <label for="myfile" class="myfile-label">
                                    <i class="fa-solid fa-file-circle-plus"></i>
                                    Thêm hình ảnh
                                </label>
                                <div class="show-img">
                                    <img class="myfile__img" src="" alt="">
                                </div>
                            </div>
            
                            <div class="product-detail__info">
                                <div action="" class="basic-form">
                                    <label for="" class="form__label">Giá:</label>
                                    <input type="text" class="form__input" value="">
                                </div>
                
                                <div action="" class="basic-form">
                                    <label for="" class="form__label">Số lượng:</label>
                                    <input type="text" class="form__input" value="">
                                </div>
                            </div>
                        </div>
        
                        <div action="" class="basic-form">
                            <label for="" class="form__label">Mô tả:</label>
                            <input type="text" class="form__input" value="">
                        </div>
                        <div class="add-product__btn">
                            <button class="btn-l btnCancelProductModal-accept">Xác nhận</button>
                            <button style="background-color: var(--boder-color);" class="btn-l btnCancelProductModal-cancel">Huỷ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="cancelModal" class="modal">
        <div class="modal-noti-size">
            <div class="modal-noti__head">
                <img class="modal-noti__head-img" src="/QLHTT/src/main/resources/static/public/images/LogoGmarket.png" alt="">
            </div>
            <div class="modal-noti__body">
                <span class="modal-noti__body-title">
                    Bạn có chắc chắn huỷ thêm khách hàng này không?
                </span>
                <div class="modal-noti__body-btn">
                    <button class="btn-l btnCancelModal-accept">Xác nhận</button>
                    <button class="btn-l btnCancelModal-cancel or-body__btn-cancel">Huỷ</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/QLHTT/src/main/resources/templates/headerEmployee.js"></script>
    <script>
        // var addCustomerisAccepted = document.querySelector('.btnAddCustomer-accept')
        // // console.log(addCustomerisAccepted)
        // addCustomerisAccepted.addEventListener('click', function(e) {
        //     e.preventDefault()
        //     window.location.pathname = "/QLHTT/src/main/resources/templates/adminCustomer.html"
        //     console.log('hi')
        // })

        var addCustomerisCanceled = document.querySelector('.btnCancelProductModal-cancel')
        var cancelModal = document.getElementById('cancelModal')
        addCustomerisCanceled.addEventListener("click", function(e) {
            e.preventDefault()
            cancelModal.setAttribute("style","display:flex")
        })
        var ModalisAccepted = document.querySelector('.btnCancelModal-accept')
        ModalisAccepted.addEventListener("click", function() {
            cancelModal.setAttribute("style","display:none")
        })
        var ModalisCanceled = document.querySelector('.btnCancelModal-cancel')
        ModalisCanceled.addEventListener("click", function() {
            cancelModal.setAttribute("style","display:none")
        })
        var showFile = document.querySelector('.myfile__img')
        var inputFile = document.querySelector('#myfile')
        function readFile(input) {
            // console.log('hi')
            if(input.files && input.files[0]) {
                var reader = new FileReader()
                reader.onload = function(e) {
                    // console.log(e.target.result)
                    document.querySelector('.show-img').setAttribute("style", "display: flex;")
                    showFile.setAttribute('src', e.target.result)
                }
            }
            reader.readAsDataURL(input.files[0])
        }
    </script>
</body>
</html>