<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/grid.css">
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/base.css">
    <link rel="stylesheet" href="/QLHTT/src/main/resources/static/public/css/employee.css">
</head>
<body>
    <div class="employee">
        <header class="employee-header">
            
        </header>
        <div class="grid">
            <div class="row sm-gutter space">
                <div class="col l-2">
                    <nav class="navbar">
                        
                    </nav>
                </div>

                <div class="col l-10">
                    <div class="employee-body">
                        <span class="employee-body__title">THÔNG TIN CÁ NHÂN</span>

                        <div class="employee-form">
                            <form action="" class="basic-form">
                                <label for="" class="form__label">Họ và tên:</label>
                                <input type="text" class="form__input" value="Bao Haan">
                            </form>
                            
                           
                            <form action="" class="basic-form-radio">
                                <div class="form-radio">
                                    <input class="form__radio" type="radio" name="gender" id="gender-male">
                                    <label class="form__radio-label" for="gender-male">Nam</label>
                                </div>
                                <div class="form-radio">
                                    <input class="form__radio" type="radio" name="gender" id="gender-female">
                                    <label class="form__radio-label" for="gender-female">Nữ</label>
                                </div>
                            </form>
    
                            <form action="" class="basic-form">
                                <label for="" class="form__label">CMND/CCCD:</label>
                                <input type="text" class="form__input" value="0123456789">
                            </form>
    
                            <form action="" class="basic-form">
                                <label for="" class="form__label">Ngày sinh:</label>
                                <input type="text" class="form__input" value="19/01/2001">
                            </form>
    
                            <form action="" class="basic-form">
                                <label for="" class="form__label">Số điện thoại:</label>
                                <input type="text" class="form__input" value="0123456789">
                            </form>
    
                            <form action="" class="basic-form">
                                <label for="" class="form__label">Địa chỉ:</label>
                                <input type="text" class="form__input" value="">
                            </form>
                            
                            <div class="employee__btn">
                                <button class="btn-l">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/QLHTT/src/main/resources/templates/headerEmployee.js"></script>
    <script src="/QLHTT/src/main/resources/templates/navbarEmployee.js"></script>
</body>
</html>