<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/public/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/public/css/login.css}" />
    <title>GMarket - Login</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="header">
            <a class="logo" href="/home"><img src="/public/images/LogoGmarket.png" alt=""></a>
        </div>
        <div class="login-form">
            <form action="/login" method="post">
                <div class="title">Đăng nhập</div>
                <input type="text" class="input-username" name="username" placeholder="Tên người dùng">
                <input type="password" class="input-password" name="password" placeholder="Mật khẩu">
                <button class="btn-login" type="submit">Đăng nhập</button>
            </form>
        </div>
        <div th:text="error">test</div>
        <div class="footer">
            <span>Bản quyền của CÔNG TY TNHH HOC VIEN HOANG GIA Giấy chứng nhận Đăng ký Kinh doanh số 0316532681 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 10/10/2020.
                <br>
                Đăng ký thay đổi lần thứ: 5, ngày 31/05/2022
                <br>
                Địa chỉ: 97 Man Thiện, Tân Nhơn Phú A, TP. Thủ Đức, TP.HCM, Việt Nam. Điện thoại: 190000000</span>
        </div>
    </div>
    
</body>
</html>