<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/adminCustomer.css">

<span class="navbar__title">Danh Mục</span>
<ul class="navbar__list">
    <a href="./employee.html" class="navbar__link">
        <li class="navbar__item">
            Thông tin cá nhân
        </li>
    </a>
    <a href="./adminProduct.html" class="navbar__link">
        <li class="navbar__item">
            Quản lí sản phẩm
        </li>
    </a>
    <a href="./adminOrder.html" class="navbar__link">
        <li class="navbar__item">
            Quản lí đơn hàng
        </li>
    </a>
    <a href="./adminCustomer.html" class="navbar__link">
        <li class="navbar__item active">
            Quản lí khách hàng
        </li>
    </a>
    <a href="./adminLogout.html" class="navbar__link">
        <li class="navbar__item">
            Đăng xuất
        </li>
    </a>
</ul>