<span class="navbar__title" xmlns:th="http://www.w3.org/1999/xhtml">Danh Mục</span>
<ul class="navbar__list">
    <a th:href="@{/Employee/info}" class="navbar__link">
        <li class="navbar__item">
            Thông tin cá nhân
        </li>
    </a>
    <a th:href="@{/Employee/product/page/0}" class="navbar__link">
        <li class="navbar__item">
            Quản lí sản phẩm
        </li>
    </a>
    <a th:href="@{/Employee/type}" class="navbar__link">
        <li class="navbar__item">
            Quản lí loại sản phẩm
        </li>
    </a>
    <a th:href="@{/Employee/order}" class="navbar__link">
        <li class="navbar__item">
            Quản lí đơn hàng
        </li>
    </a>
    <a th:href="@{/Employee/customer}" class="navbar__link">
        <li class="navbar__item">
            Quản lí khách hàng
        </li>
    </a>
    <a th:href="@{/logout}" class="navbar__link">
        <li class="navbar__item">
            Đăng xuất
        </li>
    </a>
</ul>
<style>
    .navbar__title {
    font-size: 2rem;
    color: var(--main-color);
    display: block;
    padding: 20px
}

.navbar__icon {
    font-size: 8rem;
    display: block;
    text-align: center;
    margin-top: 30px;
    color: var(--main-color);
}

.navbar__link {
    text-decoration: none;
    border-top: 1px solid var(--white-text);
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar__list {
    padding: 0;
}

.navbar__link:first-child{
    border-color: var(--main-color);
}

.navbar__item {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 15px 0px;
    color: var(--main-color);
    animation: transform linear 0.1s;
    will-change: transform;
    list-style-type: none;
}

.navbar__item.active {
    color: var(--second-color);
}
.navbar__item:hover {
    transform: translateX(5px);
    color: var(--second-color);
}

</style>