<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/public/owlcarousel/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/public/owlcarousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/public/css/reset.css}" />
  <link rel="stylesheet" th:href="@{/public/css/productinfo.css}" />
  <title>Product</title>
</head>
<body>
    <header class="header-top">
        <div class="header-wrapper">
          <div class="heading">
            <a href="/home" class="header-logo"><img
                src="https://gmarket24h.com/images/thumbs/0013362_Logo%20Gmarket%20to%20nhat.png" alt="G-Market"></a>
            <div class="header-search">
              <form class="search-form">
                <div class="search-form__input">
                  <input type="text" placeholder="Tìm kiếm">
                </div>
                <button class="search-form__icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </div>
            <div class="header-right-wrapper">
              <div class="header-right">
                <div class="cart-icon">
                  <a href="#" class="btn-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="cart-num">0</div>
                    <div class="cart-price">Giỏ hàng</div>
                  </a>
                </div>
                <div class="account-icon">
                  <i class=" fa-solid fa-user"></i>
                  <span class="account-title">Tài khoản</span>
                </div>
              </div>
      
            </div>
          </div>
          <div class="header-menu">
            <div class="category-menu">
              <a class="categories" href="#">
                <i class="fa-solid fa-bars"></i>
                <span class="category-title">DANH MỤC</span>
              </a>
              <div class="dropdown-categories">
                <ul>
                  <li class="category-item">
                    <a href="#">
                      <span>KHUYẾN MÃI</span>
                      <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <div class="dropdown-category-item">
                      <ul>
                        <li>
                          <a href="#">Hot Deal</a>
                        </li>
                        <li>
                          <a href="#">Luôn Có Giá Tốt</a>
                        </li>
                        <li>
                          <a href="#">Mua Nhiều Giảm Sâu</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>TRÁI CÂY - RAU CỦ</span>
                      <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <div class="dropdown-category-item">
                      <ul>
                        <li>
                          <a href="#">Trái Cây</a>
                        </li>
                        <li>
                          <a href="#">Rau Củ Quả</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>THỊT - TRỨNG - HẢI SẢN</span>
                      <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <div class="dropdown-category-item">
                      <ul>
                        <li>
                          <a href="#">Thịt</a>
                        </li>
                        <li>
                          <a href="#">Trứng</a>
                        </li>
                        <li>
                          <a href="#">Hải Sản</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>SỮA - SẢN PHẨM TỪ SỮA</span>
                      <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <div class="dropdown-category-item">
                      <ul>
                        <li>
                          <a href="#">Sữa</a>
                        </li>
                        <li>
                          <a href="#">Sản Phẩm Từ Sữa</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>THỰC PHẨM KHÔ</span>      
                    </a>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>BÁNH KẸO - ĐỒ UỐNG</span>      
                    </a>
                  </li>
                  <li class="category-item">
                    <a href="#">
                      <span>CHĂM SÓC CÁ NHÂN</span>      
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>    
      </header>
      <main>
        <section class="section-links">
            <div class="container">
                <nav class="links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><span>Product</span></li>
                        <li><span class="name-product-link"></span></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section-product-review">
            <div class="container review-product">
                <div class="product-img">
                    <img th:src="@{/public/images/{path}  (path=${p.img})}" alt="">
                    <div class="onsale"><span>Sale!</span></div>
                </div>
                <div class="product-info">
                    <h2 class="name-product mg-bottom-10" th:text="${p.name}"></h2>
                    <p class="describe" th:text="${p.describe}"></p>
                    <p class="old-price" th:text="${p.price}"></p>
                    <p class="new-price" th:text="${p.price}"></p>
                    <p class="stocks"><span th:text="${p.quantity}"></span> in stocks</p>
                    <form action="#" class="form-quantity">
                        <div class="quantity">
                            <input type="button" value="-" class="btn-decre" id="#input-${product.id}">
                            <input type="number" value="1" id="input-${product.id}">
                            <input type="button" value="+" class="btn-incre" id="#input-${product.id}">
                        </div>
                        <a href="#" class="btn-add">THÊM VÀO GIỎ HÀNG</a>
                    </form>
                </div>
            </div>
        </section>
      </main>
      <footer>
        <div class="container">
          <div class="row">
            <div class="footer-left col">
              <div class="logo"><img src="/public/images/LogoGmarket.png" alt=""></div>
              <ul class="list-info">
                <li class="address">
                  <i class="fa-sharp fa-solid fa-location-dot"></i>
                  97, Man Thiện, Phường Tân Nhơn Phú A, TP Thủ Đức
                </li>
                <li class="phone">
                  <i class="fa-solid fa-phone"></i>
                  190056789
                </li>
                <li class="email">
                  <i class="fa-solid fa-envelope"></i>
                  hocvienhoanggia@gmail.com
                </li>
              </ul>
            </div>
            <div class="footer-mid col">
              <div class="title">HỖ TRỢ KHÁCH HÀNG</div>
              <ul class="list-support">
                <li>Đơn hàng</li>
                <li>Chính sách thành viên</li>
                <li>Chính sách giao hàng</li>
                <li>Chính sách đổi trả</li>
                <li>Chính sách thanh toán</li>
                <li>Chính sách bảo mật</li>
              </ul>
            </div>
            <div class="footer-right col">
              <div class="title">HÌNH THỨC THANH TOÁN</div>
              <img src="/public/images/paymentmethod.png" alt="">
            </div>
          </div>
        </div>
      </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/script/main.js"></script>
<script src="/public/script/owl.carousel.min.js"></script>
</html>